@import './variable';
@import './button';
@import './color';
@import './font-icon';
* {
    font-family: $default-font-family;
    font-size: $default-font-size;
}

.action-bar {
    color: white;
    background: $default-color;
}