<ActionBar class="action-bar">
    <Label text="{{'MODULES.ABOUT' | translate | uppercase}}" textWrap="false" class="action-bar pull-left"></Label>
</ActionBar>

<FlexboxLayout justifyContent="center" alignItems="center">
    <StackLayout class="text-center">
        <Image src="https://cdn-images-1.medium.com/max/272/1*YVyVa_5CAC_CkhrmgNS2Eg.png" stretch="aspectFit" style="width:50%; margin-bottom:25px;"></Image>
        <Label text="{{config.APPLICATION_NAME | uppercase}}" textWrap="true" class="h1"></Label>
        <Label text="{{'OTHERS.BY' | translate | lowercase}}&nbsp;{{config.AUTHOR}}" textWrap="false" style="margin-bottom:75px;"></Label>
        <Image src="~/assets/images/github-logo.png" stretch="aspectFit" style="width:100;" (tap)="openUrl(config.REPO_ORIGIN_URL)"></Image>
    </StackLayout>
</FlexboxLayout>