<ActionBar class="action-bar">
    <Label text="{{'MODULES.HOME' | translate | uppercase}}" textWrap="false" class="action-bar pull-left"></Label>
</ActionBar>

<!-- SPRITE -->
<AbsoluteLayout *ngFor="let i of models['sprite']">
    <Image src="~/assets/images/logo.png" [left]="i.x" [top]="i.y" [ngStyle]="{'width':i.width, 'height':i.height}"></Image>
</AbsoluteLayout>

<!-- BUTTON -->
<GridLayout height="60" verticalAlignment="bottom" style="margin-bottom:160px;">
    <GridLayout columns="*, *" height="60" padding="0">
        <GridLayout col="0">
            <Button [text]="_isRunAnimation ? (('fa-stop' | fonticon) + ' ' + ('BUTTONS.STOP' | translate)) : (('fa-play' | fonticon) + ' ' + ('BUTTONS.RUN' | translate))" class="btn color-white background-default fa" (tap)="toggleAnimation()"></Button>
        </GridLayout>
        <GridLayout col="1">
            <Button [text]="('fa-plus' | fonticon) + ' ' + ('FIELDS.ITEM' | translate)" class="btn color-white background-default fa" (tap)="addItem()"></Button>
        </GridLayout>
    </GridLayout>
</GridLayout>